server {
    listen 80;
    server_name $DOMAIN www.$DOMAIN;

    location / {
      proxy_pass $BACKEND_SERVICE;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
    }
}
